<div class="container-fluid h-100 container-custom">
    <div class="row vertical-nav h-100">
        <div class="col-2 border-right border-white" id="side-bar">
            <div class="row txt-hello">
                <h4 class="text-white text-center font-weight-bold px-2 large py-3 mb-0 w-100">Hello {{user}}!</h4>
            </div>

            <div class="row ">
                <ul class="nav flex-column sidebar-nav">
                    <li class="nav-item p-2">
                        <a href="/home" class="nav-link text-white">
                            <i class="fa fa-home fa-lg" aria-hidden="true"></i>
                            Trang Chủ
                        </a>
                    </li>
                    <li class="nav-item dropdown p-2 sidebar-brand">
                        <a href="#" class="nav-link text-white dropdown-toggle" data-toggle="dropdown" href="#"
                            role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-th-large fa-lg" aria-hidden="true"></i>
                            Quản Lý Dữ Liệu
                        </a>

                        <ul class="dropdown-menu dropdown-menu-lg-right">
                            <li class="nav-item">
                                <a class="nav-link" href="/category">Loại Tin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/news/newsCreate">Thêm Tin</a>
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>

            <div class="row logout">
                <a class="signout text-white" name="signout" id="signout" href="/signOut">Đăng Xuất</a>
            </div>
        </div>

        <div class="col myDataBase">
            <h4 class="text-center m-3">Thêm Tin Mới</h4>

            <form action="/news/createNews" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <select name="newsCat" class="form-control ">
                        {{#each catList}}
                        <option class="text-dark">{{catName}}</option>
                        {{/each}}
                    </select>
                    <div class="form-group">
                        <label>Tiêu Đề:</label>
                        <input class="form-control" name="matter" required/>
                        <div class="valid-feedback">
                            Biết cách chơi đấy :v
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Nội Dung:</label>
                        <textarea class="form-control" name="content" rows="10" required></textarea>
                        <div class="valid-feedback">
                            Cái này quan trọng đấy. Nhớ viết nhiều vào!
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tác Giả:</label>
                        <input class="form-control" name="author" required/>
                        <div class="valid-feedback">
                            Good Job!
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Ngày Tạo:</label>
                        <input class="form-control" name="date" required/>
                        <div class="valid-feedback">
                            Đúng vậy đấy!
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8" style="width:100px; height:100px">
                            <img class="img-thumbnail img-preview " id="img-preview" src="http://placehold.it/200"
                                title="Hình ảnh" width="200" height="200">
                        </div>
                        <div class="col-4">
                            <label>Tải lên tệp ảnh:</label>
                            <input type="file" name="image" style="width: 100%;" id="image" />
                            <div class="valid-feedback">
                                
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    document.querySelector('.img-preview').setAttribute('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        var imageInput = document.querySelector('#image');
        imageInput.onchange = changeEventHandler;

        function changeEventHandler(event) {
            readURL(this);
        }
    };

    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

</script>